[Unit]
Description=Listens for MQTT events from Owntrack and logs them into a file

[Service]
Type=simple
ExecStart=/usr/local/bin/owntracks-eventr -c /etc/owntracks-eventr.yml listen

[Install]
WantedBy=multi-user.target
